.task {
    margin-top: 50px;
    display: block;
    padding: 10px;
    border: 1px solid white;
}
.title-zone{
    display: flex;
    justify-content: space-between;
}

.addListIcon{
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    display: block;
}
.addListIconHide {
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
 
    color: black;
    display: none;
}
.delete-todo{
    cursor: pointer;
}
#input-task{
    color: white;
    outline: white;
}
