.task {
    margin-top: 20px;
    display: block;
    padding: 10px;
}
.title-zone{
    display: flex;
    justify-content: space-between;
}

.addListIcon{
    margin-left: 20px;
    cursor: pointer;
}

